fastapi==0.127.0            # Основной фреймворк
uvicorn[standard]==0.40.0   # Сервер с дополнительными возможностями
pydantic==2.12.5            # Валидация данных

scikit-learn==1.8.0         # ML
pandas==2.3.3               # Обработка табличных данных
numpy==2.4.0                # Численные операции
joblib==1.5.3               # Сохранение моделей